bootstraps==1.0.1
Django==3.1.2
django-crud-generator==0.3.10
django-widget-tweaks==1.4.8
djangorestframework==3.12.2
Jinja2==2.11.2
joblib==0.14.1
numpy==1.18.3
pandas==1.0.3
pandas-profiling==2.8.0
Pillow==7.2.0
pyttsx3==2.87
pytz==2019.3
PyYAML==5.3.1
pyzmq==19.0.1
qimage2ndarray==1.8.3
qtconsole==4.7.4
scikit-learn==0.23.2
scikit-plot==0.3.7
scipy==1.4.1
seaborn==0.10.1
virtualenv==20.2.1

